#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: rgb(255, 9, 99);
  transition: 0.4s;
  padding: 3px;
}

body {
  margin: 0;
  padding: 0;
}
